:root {
     --review-button-size: 25pt;
     --logo-size: 70pt;
     --input-size: 30pt;
     --footer-size: 25pt;
     --card-size: 30pt;
     --dark-purple: #606B9B;
     --light-purple:  #B191D4;
     --green: #70C7A9;
}

* {
    border: none;
    font-family: helvetica;
}

body {
    background: linear-gradient(#ddeaff, #f4f8ff);
}

button {
    border: none;
    border-radius: 20px;
    color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

button:focus {
    outline: none;
}

#cards {
    display: flex;
    justify-content: space-between;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

footer {
    background-color: var(--dark-purple);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--footer-size);
    height: 1.5em;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em;
    padding-top: 1em;
    position: relative;
}

header h1 {
    color: var(--dark-purple);
    flex-grow: 4;
    font-family: 'Raleway', sans-serif;
    font-size: var(--logo-size);
    font-weight: bold;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 8em;
}

#noText {
    color: grey;
}

#save {
    align-self: flex-end;
    padding: 1em 0;
}

#save button {
    background-color: var(--green);
    font-size: var(--footer-size);
    height: 2em;
    padding: 0px 20px;
}

#save button:hover {
    box-shadow: 4px 7px #bababa;
    cursor: pointer;
    background-color: green;
}

#save button:focus {
    transform: translateY(4px);
}

#startReview {
    flex-grow: 2;
}

#startReview button {
    background-color: var(--dark-purple);
    font-size: var(--review-button-size);
    height: 2em;
    padding: 0px 20px;
}

#startReview button:hover {
    background-color: var(--light-purple);
    box-shadow: 4px 7px #e0e0e0;
    cursor: pointer;
}

#startReview button:active {
    transform: translateY(4px);
}

textarea {
    border: none;
    font-size: var(--card-size);
    overflow: auto;
    resize: none;
    text-align: center;
    vertical-align: middle;
    width: 80%;
}

textarea:focus {
    outline: none;
}

.textCard {
    background-color: #ffffff;
    border: solid 4px #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 45%;
    height: 8em;
    font-size: var(--card-size);
}

.textCard p {
    max-width: 80%;
    word-wrap: break-word;
}

@media screen and (max-width: 1200px) { /* Tablet view */
    main {
        padding: 3em 2em;
    }

    #startReview{
        flex-grow: 1.5;
    }

    #startReview button {
        font-size: 22pt;
        height: auto;
        padding: 10px 5px;
    }

    .textCard {
        font-size: calc(var(--card-size) / 1.2);
    }

    textarea {
        font-size: calc(var(--card-size) / 1.2);
    }
}

@media screen and (max-width: 600px) { /* Mobile view */
    #cards {
        flex-direction: column;
    }

    main {
        padding: 0 2em;
    }

    header h1 {
        font-size: calc(var(--logo-size) / 1.2);
    }

    #startReview{
        flex-grow: 1.5;
    }

    #startReview button {
        font-size: 17pt;
        height: auto;
        padding: 10px 5px;
    }

    .textCard {
        height: 4em;
        margin-top: 1em;
        max-width: 100%;
        text-align: center;
    }

    .textCard p {
        height: 100%;
    }

    textarea {
        height: 100%;
    }
}