#buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#correct {
	background-color: var(--light-green);
	border: solid green 4px;
	color: green;
	display: none;
	padding: 20px 20px;
}

#next {
    align-self: flex-end;
    background-color: var(--light-green);
}

#next:hover {
    box-shadow: 4px 7px #bababa;
    background-color: green;
}

#review-view-button {
    align-self: flex-start;
}

#prompt {
	display: flex;
	flex-direction: column;
	height: 100%;
	text-align: center; 
	width: 100%;
}

#prompt p {
	margin: auto;
}

#review-cards {
	display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}