@keyframes start-flip {
    from { transform: rotateX(0deg); }
    to { transform: rotateX(90deg); }
}

@keyframes end-flip {
    from { transform: rotateX(90deg); }
    to { transform: rotateX(0deg); }
}

.half-flip {
    animation: start-flip 1s;
}

.end-flip {
    animation: end-flip 1s;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}

#correct {
    background-color: var(--light-green);
    border: solid green 4px;
    bottom: 0;
    color: green;
    display: none;
    height: min-content;
    left: 0;
    margin: auto;
    padding: 20px 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: min-content;
}

#next {
    align-self: flex-end;
    background-color: var(--light-green);
}

#next:hover {
    box-shadow: 4px 7px #bababa;
    background-color: green;
}

#review-view-button {
    align-self: flex-start;
}

#prompt {
    display: flex;
    flex-direction: column;
    height: 100%;
    text-align: center; 
    width: 100%;
}

#prompt p {
    margin: auto;
}

#review-cards {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: space-between;
}